body{
    margin: 0;
    font-family:'Barlow', sans-serif;
}

header{
    background-color: #F0E68C;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

header h1{
    color: #BDB76B;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    margin-top: 0;
    
}

header p{
    color: #BDB76B;
}
header img{
    border-radius: 150px;
    width: 300px;
    
    
}

main{
    max-width: 800px;
    margin: 0 auto;
}

main img{
max-width: 100%;
}

a{
    color: #2E8B57;
    font-family:'Barlow', sans-serif;
    
}

a:hover{
    color: #6B8E23;
}

footer{
    background-color: #2E8B57;
    text-align: center;
    color:#BDB76B;
    padding:50px;
}
img.projects{
    
}

.menu{
    padding: 10px;
    border-radius: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: block;
    width: 100px;
    margin: auto;
    
}
